<?xml version="1.0"?>
<launch>
    <node name="mjpeg_cam0" pkg="mjpeg_cam" type="mjpeg_cam" output="screen">
        <param name="framerate" value="15"/>
    </node>
    <node name="teleop_controller" pkg="xiaor" type="teleop_controller.py" output="screen" launch-prefix="/usr/bin/env python" respawn="false"/>
</launch>